/* General Page Styling */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600&family=Montserrat:wght@400;600;800&family=Roboto+Mono:wght@400;700&display=swap');
:root {
    --Ammortal-Gray: #E0E3E1;
    --Ammortal-Ash: #7A756E;
    --Ammortal-Sand: #B6AE97;
    --Ammortal-Charcoal: #37332E;
    --Ammorat-White: #F8F7F2; 
    --Ammortal-Orange: #E7671A;     
}

body {
    font-family: 'Assistant', Arial, sans-serif;
    background-color: var(--Ammortal-Gray);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: var(--Ammortal-Charcoal);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 0 20px;
    flex: 1;
}

footer {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    padding: 10px 0;
    background-color: var(--Ammortal-Charcoal);
    color: var(--Ammortal-Gray);
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
}

h1 {
    font-family: 'Assistant', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-align: center; 
    background-color: var(--Ammortal-Charcoal); 
    color: var(--Ammortal-Gray); 
    margin: 0;
}

h1 img {
    max-height: 50px;
    width: auto;
    object-fit: contain; 
    flex-shrink: 0;
    vertical-align: top;
}

/* Table Styling */
.repo-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background: var(--Ammortal-White);
    border-radius: 5px;
    overflow: hidden;
    table-layout: fixed;
}

.repo-table th, .repo-table td {
    padding: 10px 15px;
    text-align: left;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 1rem;
    color: var(--Ammortal-Ash);
    border-bottom: 1px solid var(--Ammortal-Sand);
    
}

.repo-table th {
    font-weight: 600;
    background-color: var(--Ammortal-Ash);
    color: var(--Ammortal-Gray);
}

.repo-table tr:last-child td {
    border-bottom: none;
}

.repo-table img {
    max-width: 100%; 
    max-height: 40px;
    width: auto;
    object-fit: contain;
    vertical-align: middle;  
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    h1 {
        font-size: 1.75rem;
    }

    h1 img {
        max-height: 45px;
    }

    .repo-table th, .repo-table td {
        padding: 5px 5px;
        font-size: .75rem;
    }

    .repo-table img {
        max-height: 40px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    h1 img {
        max-height: 40px;
    }
    .repo-table th, .repo-table td {
        padding: 5px 10px;
        font-size: .50rem;
    }

    .repo-table img {
        max-height: 30px;
    }
}
